body{
font-family: Helmet, Freesans, sans-serif;
font-size:0.8em;
color:#333;	
}
header{
position:relative;
top:0px;
right:0px;
left:0px;
margin-bottom:30px;
text-align:center;	
}
header img{
width:30px;
height:30px;
margin:0px 10px;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;	
}
header h1{
font-size:2.2em;
letter-spacing:0.2em;	
}

section{
	width:800px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}
article{
	overflow:hidden;
	float:left;
	width:350px;
	height:200px;
	margin:25px;
	display:block;
    position: relative;
    -webkit-box-shadow: 1px 1px 1px 1px #eee;
    -moz-box-shadow: 1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;	
}
article:hover div.description{
  -moz-transform: translateY(-160px);
  -o-transform: translateY(-160px);
  -webkit-transform: translateY(-160px);
  transform: translateY(-160px);
}
article div.description h1{
    line-height: 40px;
    text-align: center;	
    margin:0px;
}
article div.description{
 background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;

    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    width: 350px;
    height:200px;
    bottom: -160px;
}
article img{

	position: absolute;
   width: 350px;
  height: 200px;
  object-fit: cover;
  object-position: top 100%;

}
article p{
	padding:0px 10px 5px 10px;
	margin:0;
}
article p:nth-of-type(2){
margin-top:7px;
	text-align:center;
	font-style:italic;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 15px;
  right: -65px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.ios{background: #39d;}
.corner-ribbon.web{background: #f54844;}
.corner-ribbon.mixed{background: #98bf35;}
#about p{
	width:70%;
	margin:auto;
	padding:4px 10px;
	text-align: justify;
    text-justify: inter-word;
}
#about{
margin-bottom:40px;	
}
footer{
	margin:30px auto;
	width:800px;
    clear:both;
    text-align:center;
    font-size:0.9em;
}
a{
	color:#318fb1;
	text-decoration:none;	
}
section>h1{
font-size:1.2em;
margin-bottom:0px;
margin-top:30px;
padding-bottom:10px;
text-align:center;
border-bottom:1px solid #555;	
}